@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1f2937;

    --card: #ffffff;
    --card-foreground: #1f2937;

    --primary: #ff7000;
    --primary-foreground: #ffffff;

    --secondary: #d1d5db;
    --secondary-foreground: #1f2937;

    --muted: #d1d5db;
    --muted-foreground: #6b7280;

    --accent: #d1d5db;
    --accent-foreground: #1f2937;

    --destructive: #ff4d4f;
    --destructive-foreground: #ffffff;

    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #d1d5db;
  }

  .dark {
    --background: #111827;
    --foreground: #ffffff;

    --card: #111827;
    --card-foreground: #ffffff;

    --primary: #ff7000;
    --primary-foreground: #ffffff;

    --secondary: #4b5563;
    --secondary-foreground: #ffffff;

    --muted: #4b5563;
    --muted-foreground: #9ca3af;

    --accent: #4b5563;
    --accent-foreground: #ffffff;

    --destructive: #ff4d4f;
    --destructive-foreground: #ffffff;

    --border: #374151;
    --input: #374151;
    --ring: #9ca3af;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
